<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/nav.css">
    <!--Import Google Icon Font-->
    <script src="https://kit.fontawesome.com/c9aedb9da6.js" crossorigin="anonymous"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="root">
        <style>
          #contentWrap{
    display: none;
}
        </style>
    
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>EST 121</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="editor.html"><i class="material-icons">code</i></a>
              </li>
              <li>
                <a href="diagram.html"><i class="material-icons">memory</i></a>
              </li>
              <li>
                <a href="about.html"><i class="material-icons">info</i></a>
              </li>
            </ul>
          </div>
        </nav>
      
        <div class="container p-4">

          <!-- CHAT CONTAINER -->
          <div class="container">
            <div id="contentWrap">
              <div class="row">
                <div class="col-md-8">
                  <div class="card">
                    <!-- CARD HEADER-->
                    <div class="card-header bg-dark text-white">
                      <h4>Let's Chat</h3>
                    </div>
            
                    <!-- CARD BODY-->
                    <div id="chat" class="card-body"></div>
            
                    <!-- CARD FOOTER -->
                    <form id="msg-form" class="card-footer">
                      <div class="input-group">
                        <input type="text" id="input" class="form-control" required />
                        <div class="input-group-append">
                          <button class="btn btn-success">
                            <i class="fas fa-paper-plane"></i> Enviar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            
                <!-- USERS SECTION-->
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header bg-dark text-white">
                      <h3>Users</h3>
                    </div>
                    <div class="card-body">
                      <div id="usernames"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="js/app.js"></script>
</body>

</html>