<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar - Cha Cha</title>
    <%- include ("partials/head.ejs") %>
  </head>

  <body>
    <form action="/login" method="POST">
      <div>
        <h2>Ingresar</h2>
      </div>

      <% if (message.length > 0) { %>
      <div class="alert">
        <%= message %>
      </div>
      <% } %>

      <div>
        <label for="name">Correo</label>
        <input
          required
          type="email"
          name="email"
          placeholder="Escribe tu email"
          id="correo"
          maxlength="18"
        />
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input
          required
          name="psw"
          type="password"
          placeholder="Escribe tu contraseña"
          id="password"
          maxlength="12"
        />
        <div>
          <span class="cuenta"
            >No tienes cuenta? <a href="/register">Registrate</a></span
          >
        </div>
      </div>
      <button type="submit" class="aceptar">Ingresar</button>
    </form>
  </body>
</html>
