body {
  background-image: url("https://1.bp.blogspot.com/-mfZTigrR9nQ/VCmQz7yJYBI/AAAAAAACUd4/LRaRiiKFc9c/s1600/fotos%2Bde%2Bpaisajes%2Bnaturales%2B(10).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
